*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.nav{
    flex: 1;
    text-align: right;
}

.nav ul{
    display:  inline-block;
    list-style-type: none;
}

.nav ul li{
    display: inline-block;
    margin: 10px;
}

.nav ul li a{
    text-decoration: none;
    color: #555;
}
.nav ul li a p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row .col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.row .col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.row .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 10px;
}

.row .col-2 .btn{
    display: inline-block;
    background: tomato;
    color: white;
    padding: 9px 38px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.row .col-2 .btn:hover{
    background: steelblue;
}

.header{
    background: radial-gradient(yellow,magenta);
}

.header .row{
    margin-top: 50px;
}

/*Header part done*/

/*#Features_part_start*/

.catgeories{
    margin: 50px 0;
}

.catgeories .row{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 50px;
}

.catgeories .row img{
    width: 100%;
    height: 650px;
}
.catgeories .small-container{
    padding-left: 50px;
    padding-right: 50px;
}
/*
.catgeories .small-container{
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding-left: 50px;
    padding-right: 25px;
}
*/

.col-4{
    flex-basis: 30px;
    padding-right: 50px;
    margin: auto;
    min-width: 200px;
    margin-bottom: 30px;
}

.col-4 img{
    width: 80%;
    margin-bottom: 50px;
}
